<h1>正則表達式#1 - Regular Expression</h1>

<h2>\d = 0-9</h2>

In [2]:
import re
text = "Tims's phone numbers are 12345-41521 and 778963-85214"
answer = re.findall(r'\d+', text)
if answer:
    print(answer)

['12345', '41521', '778963', '85214']

<h2>\D = 非 0-9</h2>

In [4]:
import re
text = "Tims's phone numbers are 12345-41521 and 778963-85214"
answer = re.findall(r'\D', text)
if answer:
    print(answer)

['T', 'i', 'm', 's', "'", 's', ' ', 'p', 'h', 'o', 'n', 'e', ' ', 'n', 'u', 'm', 'b', 'e', 'r', 's', ' ', 'a', 'r', 'e', ' ', '-', ' ', 'a', 'n', 'd', ' ', '-']

<h2>\s = 空白字元</h2>

In [5]:
import re
text = "Tims's phone numbers are 12345-41521 and 778963-85214"
answer = re.findall(r'\s', text)
if answer:
    print(answer)

[' ', ' ', ' ', ' ', ' ', ' ']

<h2>\S = 非空白字元</h2>

import re
text = "Tims's phone numbers are 12345-41521 and 778963-85214"
answer = re.findall(r'\S', text)
if answer:
    print(answer)

<h2>\w=a-zA-Z0-9</h2>

In [7]:
import re
text = "Tims's phone numbers are 12345-41521 and 778963-85214"
answer = re.findall(r'\w', text)
if answer:
    print(answer)

['T', 'i', 'm', 's', 's', 'p', 'h', 'o', 'n', 'e', 'n', 'u', 'm', 'b', 'e', 'r', 's', 'a', 'r', 'e', '1', '2', '3', '4', '5', '4', '1', '5', '2', '1', 'a', 'n', 'd', '7', '7', '8', '9', '6', '3', '8', '5', '2', '1', '4']

<h2>\W = 非 a-zA-Z0-9</h2>

In [1]:
import re
text = "Tims's phone numbers are 12345-41521 and 778963-85214"
answer = re.findall(r'\W', text)
if answer:
    print(answer)

["'", ' ', ' ', ' ', ' ', '-', ' ', ' ', '-']

<h2>取出三位數字</h2>

In [3]:
import re
text = "Tims's phone numbers are 1234-5678, 12345-41521 and 778963-85214"
answer = re.findall(r'\d{3}', text)
if answer:
    print(answer)

['123', '567', '123', '415', '778', '963', '852']

<h2>取出一至三位數字</h2>

In [5]:
import re
text = "Tims's phone numbers are 1234-5678, 12345-41521 and 778963-85214"
answer = re.findall(r'\d{1,3}', text)
if answer:
    print(answer)

['123', '4', '567', '8', '123', '45', '415', '21', '778', '963', '852', '14']

<h2>取出二至三位數字</h2>

In [7]:
import re
text = "Tims's phone numbers are 1234-5678, 12345-41521 and 778963-85214"
answer = re.findall(r'\d{2,3}', text)
if answer:
    print(answer)

['123', '567', '123', '45', '415', '21', '778', '963', '852', '14']

<h2>取出四位數字</h2>

In [8]:
import re
text = "Tims's phone numbers are 1234-5678, 12345-41521 and 778963-85214"
answer = re.findall(r'\d{4}', text)
if answer:
    print(answer)

['1234', '5678', '1234', '4152', '7789', '8521']

<h2>取出六位數字</h2>

In [9]:
import re
text = "Tims's phone numbers are 1234-5678, 12345-41521 and 778963-85214"
answer = re.findall(r'\d{6}', text)
if answer:
    print(answer)

['778963']

<h2>取出前邊只有三個字母，後邊只有一個y字，中間係任何字母</h2>

In [10]:
import re
text = "Ann Anna Bob Billy Cindy Candy David Dave Daisy Molly"
answer = re.findall(r'[a-zA-Z]{3}\w*y', text)
if answer:
    print(answer)

['Billy', 'Cindy', 'Candy', 'Daisy', 'Molly']

<h2>取出前邊只有三個字母，後邊只有一個y字</h2>

In [12]:
import re
text = "Ann Anna Bob Billy Cindy Candy David Dave Daisy Molly"
answer = re.findall(r'[a-zA-Z]{3}y', text)
if answer:
    print(answer)

['illy', 'indy', 'andy', 'aisy', 'olly']

In [13]:
import re
text = "Ann Anna Anthony Bob Billy Cindy Candy David Dave Daisy Lily Molly Henry Wesley Zachgory"
answer = re.findall(r'[a-zA-Z]{3}y', text)
if answer:
    print(answer)

['hony', 'illy', 'indy', 'andy', 'aisy', 'Lily', 'olly', 'enry', 'sley', 'gory']

In [14]:
import re
text = "Ann Anna Anthony Bob Billy Cindy Candy David Dave Daisy Lily Molly Henry Wesley Zachgory"
answer = re.findall(r'C[a-z]{3}y', text)
if answer:
    print(answer)

['Cindy', 'Candy']

In [15]:
import re
text = "Year 2020, 2021 and 2022"
answer = re.findall(r'\d+', text)
if answer:
    print(answer)

['2020', '2021', '2022']

<h2>\b - Whole word only</h2>

In [18]:
import re
text = "This is an EXAMPLE of a Sentence with UPPER case words."
answer = re.findall(r'[A-Z]+', text)
if answer:
    print(answer)

['T', 'EXAMPLE', 'S', 'UPPER']

In [19]:
import re
text = "This is an EXAMPLE of a Sentence with UPPER case words."
# \b means the whole word is Capital letter
answer = re.findall(r'[A-Z]+\b', text)
if answer:
    print(answer)

['EXAMPLE', 'UPPER']

In [20]:
import re
text = "Please contact us at info@examoke.com or support@example.org"
answer = re.findall(r'[a-z]{1,}@[a-z]{2,}.[a-z]{2,}', text)
if answer:
    print(answer)

['info@examoke.com', 'support@example.org']