In [40]:
# Lesson 01 (2024/07/23 Tue)

#  這是我的第一個 Python 例題

# 加法

# 減法

# 乘法

# 二次方

# 除法

# 餘數值

# 整數乘法 (= int)

# 數字 與 文字 結合

# 陣列 List

# Python Demo

In [1]:
x = 254
y = 'abc'
print(f'{x} {y}')

254 abc

In [3]:
print(f'{type(x)} {type(y)}')

<class 'int'> <class 'str'>

In [4]:
print(f'{id(x)} {id(y)}')

140704975034712 140704973939184

In [5]:
x += 2

In [6]:
print(f'{id(x)} {id(y)}')

140704975034776 140704973939184

In [11]:
my_age = input('How old are you?')
if my_age.isnumeric() == True:
    print(f'You are {3*float(my_age)}.')

How old are you? 7

You are 21.0.

In [17]:
x1 = 6543.5432
print(int(round(x1, -2)))

6500

# Math Ceil and Floor

In [22]:
import math
# use ceil instead of round(x, -2)
def myRoundUp(inpval, digit):
    inpval = inpval / (10 ** digit)
    val = math.ceil(inpval)
    return val * (10 ** digit)
# use floor instead of round(x, -3)
def myRoundDown(inpval, digit):
    inpval = inpval / (10 ** digit)
    val = math.floor(inpval)
    return val * (10 ** digit)

In [23]:
print(myRoundUp(6543.5432, 2))
print(myRoundDown(6543.5432, 3))

6600
6000

In [15]:
# use ceil instead of round(x, -2)

import math
x = 6543.5432
y = x / 100
z = math.ceil(y) 
print(z * 100)

6600

# List and Dict

In [24]:
b = [['apple', 'orange', 'banana'], ['Japan', 'Califoria','Philipine'], [40, 25, 10]]

In [25]:
print(b[0][1])

orange

In [29]:
c1 = {'name':'apple', 'country': 'Japan', 'price': 40}
c2 = {'name':'orange', 'country': 'Califoria', 'price': 25}
c3 = {'name':'banana', 'country': 'Philipine', 'price': 10}
c = [c1, c2, c3]

In [30]:
print(c[0]['name'])

apple

In [31]:
import numpy as np
a = np.array([100,200,300,400,500])
print(a[2])

300

In [32]:
print(a.size)

5

In [35]:
# 由 10 至 100，平分 5 件
import numpy as np
b = np.linspace(10, 100, num=5)
print(b)

[ 10.   32.5  55.   77.5 100. ]

In [39]:
import pandas as pd
pd.read_csv('findall_s1.csv', encoding='Big5')

,用戶號碼：12345678,票據序列：12-34-5678,電話: 1234 5678,社區碼：8765-4321,編號：2143-6587
0,識別碼: 87654321,訂單號：87-65-4321,銀行帳號：8765 4321,註冊ID：2143 6587,卡號：5678-1234
1,跟蹤碼：34567812,註冊號碼：34-56-7812,會員ID：3456 7812,流水號：8765-4321,文檔號：2143-6587
2,配件編號：21436587,發票號：21-43-6587,參考值：2143 6587,獎券號：5678-1234,項目號：8765-4321
3,帳戶碼：12345678,分機號：12-34-5678,核驗碼：1234 5678,案件號：8765-4321,批次號：2143-6587
4,交易碼：87654321,序號：87-65-4321,入場券：8765 4321,保安碼：2143 6587,許可權碼：5678-1234
5,售出碼：34567812,客戶號：34-56-7812,權杖號：3456 7812,測試號：8765-4321,編碼：2143-6587
6,確認號：21436587,配送號：21-43-6587,校驗號：2143 6587,服務號：5678-1234,設備號：8765-4321
7,序號：12345678,製作號：12-34-5678,優惠券：1234 5678,許可證：8765-4321,金鑰號：2143-6587
8,操作碼：87654321,追蹤號：87-65-4321,車牌號：8765 4321,票據：2143 6587,發行號：5678-1234